$text-color: #40424a;
$bg-color: #f2f7f8;
@mixin btn() {
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 30px;
    font-weight: 600;
    color: $text-color;
    border: 1px solid $text-color;
    background-color: #ffffff;
    transition: all 0.2s ease-in-out 0s;
    &:hover{
        cursor: pointer;
        transition: all 0.2s ease-in-out 0s;
        background-color: $text-color;
        color: $bg-color;
    }
}
@mixin s-icons() {
    color: $text-color;
    text-decoration: none;
    font-size: 35px;
}

/* ==== sass changes===*/

html { /* change hamburger icon*/
    font-size: 15px;
}
body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    color: $text-color;
    margin: 0;
}
p {
    font-size: 16px;
    color: $text-color;
}
section {
    padding: 0;
    margin: 0 auto;
}
img {
    width: 100%;
    height: auto;
}
.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0;
}
/*==== custom scroll ====*/
::-webkit-scrollbar {     /* this scroolbar*/
    width: 10px;
}
::-webkit-scrollbar-track {       /* bg for scroll*/
    background: none;
}
::-webkit-scrollbar-thumb {         /*scroller*/
    background: $text-color;
    border-radius: 8px;
}
/* === end of custom scroll ====*/

/* ==== preloader =====*/
$count: 10;
$time: 2; //in seconds
$size: 100;
$color: $text-color;

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #e0e0e0;
    z-index: 1001;
  }
  .preloader__row {
    width: $size + px;
    height: $size + px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    animation: rotatePreloader $time + s infinite ease-in;
  }
  @keyframes rotatePreloader {
    0% {
    transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
    }
    100% {
    transform: translateX(-50%) translateY(-50%) rotateZ(-360deg);
    }
  } 
  .preloader__item {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  .preloader__item::before{
    content: "";
    position: absolute;
    left: 50%;
    top: 0%;
    width: 10%;
    height: 10%;
    background-color: $color;
    transform: translateX(-50%);
    border-radius: 50%;
  }
  @for $i from 1 through $count {
    .preloader__item:nth-child(#{$i}) {
      transform: rotateZ(((360 / $count) * ($i - 1)) + deg);
      animation: rotateCircle + $i $time + s infinite linear;
      z-index: $count - $i;
    }
    @keyframes rotateCircle#{$i} {
      #{percentage(((50 / $count) * ($i - 1)) / 100)} {
        opacity: 0;
      }
      #{percentage((((50 / $count) + 0.0001) * ($i - 1)) / 100)} {
        opacity: 1;
        transform: rotateZ((0 - ((360 / $count) * ($i - 2))) + deg);
      }
      #{percentage((((50 / $count) * ($i - 0)) + 2) / 100)} {
        transform: rotateZ((0 - ((360 / $count) * ($i - 1))) + deg);
      }
      #{percentage(((50 + ((50 / $count) * ($i - 0))) + 2) / 100)} {
        transform: rotateZ((0 - ((360 / $count) * ($i - 1))) + deg);
      }
      100% {
        transform: rotateZ((0 - ((360 / $count) * ($count - 1))) + deg);
        opacity: 1;
      }
    }
  }
  .loaded_hiding .preloader {
    transition: 0s opacity;
    opacity: 0;
  }
  
  .loaded .preloader {
    display: none;
  }

 
/* ==== end of preloader ====*/

/* =====hamburger menu =====*/
.menu {
	transition: 0.1s transform linear;
	position: relative;
	background: none;
	float: left;
	margin: 2rem;
	height: 2.3rem;
	width: 2.5rem;
	z-index: 1;
	outline: 0;
	padding: 0;
    border: 0;
    z-index: 1;
}

.bar {
	&, &::before, &::after {
		transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s transform linear;
		position: absolute;
		background: $text-color;
		margin: auto;
		width: 100%;
		height: 0.3rem;
		content: '';
		top: 50%;
        left: 0;
        z-index: 2;
	}

	& {
		margin-top: -0.2rem
	}

	&::before {
		top: -1.2rem;
	}

	&::after {
		top: 1.2rem;
	}

	&::before,
	&::after {
		transform: rotate(0deg);
	}

	.active & {
        background: 0;

		&::before {
			transform: rotate(45deg);
		}

		&::after {
			transform: rotate(-45deg);
		}

		&::before,
		&::after {
			top: 0;
		}

		&,
		&::before,
		&::after {
			transition: 0.2s background linear 0.1s, 0.2s top linear, 0.2s transform linear 0.2s;
		}
	}
}

nav {
	width: 300px;
	height: 100%;
    background: $bg-color;
	position: fixed;
	transform: translateX(-300px);
	transition: transform 0.6s cubic-bezier(.56,.1,.34,.91);
    padding-top: 6.2rem;
    margin: 0;
    transition: all 0.3s ease-in-out 0s;

	.menu-open & {
        transform: translateX(0);
        box-shadow: 25px 0px 54px -9px #9E9E9E;
        transition: all 0.3s ease-in-out 0s;
	}
	
	ul:first-child {
		margin: 0;
		list-style: none;
		padding: 0;
		
		li {
            padding: 15px 5px;
            margin-left: 20px;
            font-size: 1.5rem;
            transition: all 0.3s ease-in-out 0s;
            border-bottom: 1px solid #eaeaea;
            width: 50%;
            
			&:hover {
                transition: all 0.3s ease-in-out 0s;
                margin-left: 30px;
                border-bottom: 1px solid $text-color;
                font-weight: 700;
                cursor: pointer;
			}
		}
	}
}

/*============ end of hamburger =====*/
.header {
    background-color: $bg-color;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 10;
}
.download-cv {
    @include btn();
    margin-right: 20px;
}
.contact-button {
    @include btn();
    margin-right: 20px;
}
nav ul:first-child {
    margin-top: 50px;
    margin-bottom: 50px;
}
.social {
    display: flex;
    padding: 0;
    margin: 150px auto;
    width: 80%;
    justify-content: space-around;
}
.social a {
    transition: all 0.5s ease-in-out 0s;
    @include s-icons();
    & .fa-twitter {
        transition: all 0.3s ease-in-out 0s;
        &:hover {
            transition:  all 0.2s ease-in-out 0s;
            color: #1da1f2;
        }
    }
    & .fa-instagram {
        transition: all 0.3s ease-in-out 0s;
        &:hover {
            transition: all 0.2s ease-in-out 0s;
            color: lightcoral;
        }
    }
    & .fa-github {
        transition: all 0.3s ease-in-out 0s;
        &:hover {
            transition: all 0.2s ease-in-out 0s;
            color: black;
        }
    }
    & .fa-telegram {
        transition: all 0.3s ease-in-out 0s;
        &:hover {
            transition: all 0.2s ease-in-out 0s;
            color: #0088cc;
        }
    }
    & .fa-envelope {
        transition: all 0.3s ease-in-out 0s;
        &:hover {
            transition: all 0.2s ease-in-out 0s;
            color: red;
        }
    }
}
.social li {
    list-style: none;
    padding: 0 0;
    margin-left: 0;
}
.copyrights {
    text-align: center;
    margin-top: 150px;
    margin-right: 20px;
}

/*============= main section ========*/
.main-section {
    background-color: $bg-color;
    height: 100vh;
    padding-top: 50px;
}
#companionMethods {
    font-size: 70px;
    font-weight: 700;
    text-align: center;
    margin-top: 250px;
}
/*===floating icon ===*/
// .scroll-button {
//     background-color: $bg-color;
//     padding-top: 50px;
//     height: 150px;
// }
.animation-scroll {
    height: 100px;
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 100%;
    margin: 0 auto;
    & img {
        display: block;
        margin: 0 auto;
        color: $text-color;  
        & .mouse-image {
            color: $text-color;
        }  
    }
}
.floating{
	animation-name: floating;
	-webkit-animation-name: floating;

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes floating {
	0% {
		transform: translateY(0%);	
	}
	50% {
		transform: translateY(40%);	
	}	
	100% {
		transform: translateY(0%);
	}			
}

@-webkit-keyframes floating {
	0% {
		-webkit-transform: translateY(0%);	
	}
	50% {
		-webkit-transform: translateY(40%);	
	}	
	100% {
		-webkit-transform: translateY(0%);
	}			
}
/*====end of floating icon ====*/
/* ==================about me section =========*/
.about-me-inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-me-info {
    & .about-me-title {
        font-weight: 700;
        font-size: 80px;
    }
    & .about-me-text {
        font-size: 20px;
        font-weight: 300;
        width: 70%;
        margin-top: -15px;
        margin-bottom: 40px;
    }
}
.info-table {
    font-size: 26px;
    color: $text-color;
    & td {
        padding-bottom: 20px;
        padding-right: 20px;
    }
}
.info-table tr td:first-child {
    font-weight: 700;
}
.main-image {
    width: 700px;
    height: 800px;
    margin-top: 30px;
    & img {
        clip-path: inset(0 0 25% 0);
    }
}
/* ====== education ====*/
.education {
    background-color: $bg-color;
    & .education-title {
        font-size: 80px;
        font-weight: 700;
        padding-top: 50px;
    }
}
.educationl-list {
    
    & .list-year {
        font-size: 60px;
        font-weight: 700;
        margin-left: 40px;
        margin-bottom: -20px;
    }
    & .list-name {
        font-weight: 400;
        font-size: 40px;
        margin: 10px 0;
        margin-left: 40px;
    }
    & .list-text {
        margin-top: 0;
        margin-left: 40px;
    }
    & li {
        list-style: none;
        &::before {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 3px solid $text-color;
            background-color: $bg-color;
            content: '';
            position: absolute;
            margin-top: 25px;
    
        }
        &::after {
            border-left: 2px solid $text-color;
            content: '';
            padding: 148px 0;
            margin-left: 11px;
        }
    }
    & li:last-child{
        clip-path: inset(0 0 5% 0);
    }
}
/* ========== end of education ======*/

/* ======= experience secton =======*/
.experience-title {
    font-size: 80px;
    font-weight: 700;
    padding-top: 50px;
}
.experience-list {

& .exp-list-year {
    font-size: 60px;
    font-weight: 700;
    margin-left: 40px;
    margin-bottom: -20px;
}
& .exp-list-name {
    font-weight: 400;
    font-size: 40px;
    margin: 10px 0;
    margin-left: 40px;
}
& .exp-list-text {
    margin-left: 40px;
    margin-top: 0;
}
& li {
    list-style: none;
    &::before {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 3px solid $text-color;
        background-color: $bg-color;
        content: '';
        position: absolute;
        margin-top: 25px;

    }
    &::after {
        border-left: 2px solid $text-color;
        content: '';
        padding: 148px 0;
        margin-left: 11px;
    }
}
& li:last-child{
    clip-path: inset(0 0 5% 0);
}
}
/* ======== end of experience section =====*/

/* ==== skills section===*/
.skills {
    background-image: url(images/keyboard.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.skills-title {
    font-size: 80px;
    font-weight: 700;
    padding-top: 50px;
    margin-bottom: 30px;
}
.skills-inner {
    display: flex;
    justify-content: space-around;
}
/* == progress bar ==*/
.progress {
    background: rgba(212, 206, 206, 0.39);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 3px;
    display: flex;
    height: 20px;
    width: 500px;
  }
  
.progress-value {
    border-radius: 100px;
    background: $text-color;
    height: 20px;
    width: 50%;
}
/*===end of progress bar ==*/
.tools {
    padding-top: 30px;
    text-align: center;
    & .tools-title {
        font-size: 40px;
        font-weight: 700;
        margin-top: 20px;
    }
}
.tools-list {
    color: $text-color;   
    font-size: 40px;
    padding: 50px;
    & ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        width: 50%;
        margin: 0 auto;
    }
}
.fa-file-powerpoint {
    transition: all 0.2s ease-in-out 0s;
    &:hover {
        transition: all 0.2s ease-in-out 0s;
        color: #001E36;
    } 
}
.fa-bootstrap {
    transition: all 0.2s ease-in-out 0s;
    &:hover {
        transition: all 0.2s ease-in-out 0s;
        color: #7952b3;
    } 
}
.fa-sass {
    transition: all 0.2s ease-in-out 0s;
    &:hover {
        color: #CD6799;
        transition: all 0.2s ease-in-out 0s;
    }
}  
.fa-figma {
    transition: all 0.2s ease-in-out 0s;
    &:hover {
        transition: all 0.2s ease-in-out 0s;
        color: #05ff00;
    }
}
.fa-git-alt {
    transition: all 0.2s ease-in-out 0s;
    &:hover {
        transition: all 0.2s ease-in-out 0s;
        color: #F05133
    }
}
    

/* ==== end of sills section ====*/

/* ======= portfolio section ======*/
.portfolio-title {
    font-size: 80px;
    font-weight: 700;
    padding-top: 50px;
    margin-bottom: 30px;
}
.portfolio-inner {
    display: flex;
    justify-content: space-around;
}
/*==modal===*/
.open-modal {
  background-color:$bg-color;
  border: 2px solid $text-color;
  border-radius: 4px;
  color: $text-color;
  outline: none;
  padding: 150px 150px;
  text-transform: uppercase;
  transition: all 0.4s ease-in-out 0s;
}
.open-modal:hover {
    background-color: $text-color;
    transition: all 0.2s ease-in-out 0s;
    opacity: 0.3;
    color: white;
}
.modal {
  background-color: #dbd9d9;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 200px;
  margin-left: -200px;
  margin-top: -150px;
  padding: 50px;
  border-radius: 5px;
  z-index: 10;
  box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.5);
}

.close-modal {
  color:  #000;
  text-decoration: none;
  float: right;
  position: absolute;
  top: 10px;
  right: 20px;
  outline: none;
  cursor: pointer;
}
/*=== end of modal===*/
.see-all-portfolio {
    @include btn();
    margin-top: 50px;
    float: right;
}
/* ========= end of portfolio =======*/

/* ========== footer ========*/ 
.footer {
    margin-top: 120px; 
    background-color: $bg-color;
    & .footer-title {
        font-size: 80px;
        font-weight: 700;
        padding-top: 30px;
        margin-bottom: 50px;
    }
}
.form {
    width: 70%;
    margin: 0 auto;
    & .form-row-1 {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
        & label {
            display: block;
        }
        & div {
            width: 40%;
        }
    }
    & input{
        width: 100%;
        height: 40px;
        margin: 20px 0;
        border: 1px solid $text-color;
        border-radius: 4px;
        transition: all 0.2s ease-out 0s;
        &:focus {
            transition: all 0.2s ease-in 0s;
            outline: none;
            box-shadow: 0px 0px 49px -15px rgba(0, 0, 0, 0.93);
        }
    }
    & textarea {
        width: 100%;
        margin: 20px 0;
        resize: vertical;
        min-height: 100px;
        height: 150px;
        max-height: 250px;
        border: 1px solid $text-color;
        border-radius: 4px;
        transition: all 0.2s ease-in-out 0s;
        &:focus {
            outline: none;
            transition: all 0.2s ease-in-out 0s;
            box-shadow: 0px 0px 49px -20px rgba(0, 0, 0, 0.93);
        }
    }
}
label {
    color: $text-color;
    font-weight: 300;
}
.first-name {
    width: 40%;
    height: 40px;
}
.second-name {
    width: 40%;
    height: 40px;
}
.send-message {
    @include btn();
    margin-bottom: 50px;
}